* {
  box-sizing: border-box;
}

body {
  padding: 0;
  margin: 0;
}

body.theme--80082-blu {
  background-color: #2C2F38;
}

.theme--80082-blu #cursor > span {
  background-color: #67C4E3;
}

.theme--80082-blu #text-box, .theme--80082-blu .stat {
  color: #6E7886;
}

.theme--80082-blu .cc.correct {
  color: #67C4E3;
}

.theme--80082-blu .cc.incorrect {
  color: #CE4F68;
}

.theme--80082-blu .cc.space.incorrect {
  border-color: #CE4F68;
}

.theme--80082-blu select {
  background-color: #2C2F38;
  color: #67C4E3;
  border-color: #67C4E3;
}

body.theme--cyberspace {
  background-color: #222822;
}

.theme--cyberspace #cursor > span {
  background-color: #27D27F;
}

.theme--cyberspace #text-box, .theme--cyberspace .stat {
  color: #987AD4;
}

.theme--cyberspace .cc.correct {
  color: #27D27F;
}

.theme--cyberspace .cc.incorrect {
  color: #AD186B;
}

.theme--cyberspace .cc.space.incorrect {
  border-color: #AD186B;
}

.theme--cyberspace select {
  background-color: #222822;
  color: #27D27F;
  border-color: #27D27F;
}

body.theme--awaken {
  background-color: #25252F;
}

.theme--awaken #cursor > span {
  background-color: #24E7E8;
}

.theme--awaken #text-box, .theme--awaken .stat {
  color: #E5C441;
}

.theme--awaken .cc.correct {
  color: #24E7E8;
}

.theme--awaken .cc.incorrect {
  color: #EA315C;
}

.theme--awaken .cc.space.incorrect {
  border-color: #EA315C;
}

.theme--awaken select {
  background-color: #25252F;
  color: #24E7E8;
  border-color: #24E7E8;
}

body.theme--mecha {
  background-color: #080808;
}

.theme--mecha #cursor > span {
  background-color: #45CB30;
}

.theme--mecha #text-box {
  color: #5E359A;
}

.theme--mecha .cc.correct, .theme--mecha .stat {
  color: #45CB30;
}

.theme--mecha .cc.incorrect {
  color: #FF2811;
}

.theme--mecha .cc.space.incorrect {
  border-color: #FF2811;
}

.theme--mecha select {
  background-color: #080808;
  color: #EC7317;
  border-color: #EC7317;
}

#cursor {
  display: inline;
  position: relative;
  width: 0px;
  opacity: 1;
}

#cursor.hide {
  opacity: 0
}

#cursor > span {
  position: absolute;
  top: 0px;
  height: 31px;
  width: 4px;
}

#text-box {
  display: block;
  position: relative;
  margin: 50px auto;
  background: none;
  width: 100%;
  font-family: 'recursive', monospace;
  /* font-variation-settings: 'slnt' -15, 'MONO' 0; */
  font-variation-settings: 'MONO' 1;
  font-size: 1.5rem;
  user-select: none;
  max-height: 9rem;
  overflow: hidden;
}

#text-box > div {
  margin-top: 0rem;
  transition: margin-top 100ms;
}

.stat {
  font-family: 'recursive';
  font-size: 1.2rem;
  height: 50px;
}

#container {
  position: relative;
  margin: 1rem auto;
  max-width: 875px;
  padding: 1rem;
}

select {
  outline: none;
  border: 1px solid black;
  padding: 0.5rem;
  margin-bottom: 2rem;
}

.c-group {
  height: 3rem;
}

.cc {
  display: inline-block;
  white-space: pre;
}

.cc.hide {
  opacity: 0;
}

.cc.space.incorrect {
  border-bottom: 4px solid black;
}

.c-group {
  display: inline-block;
}
