@mixin new(
  $name,
  $background-color,
  $text-color,
  $cursor-color,
  $error-color,
  $accent-color
) {
  body.theme--#{$name} {
    background-color: $background-color;

    .cc.cursor {
      box-shadow: inset 10.2rem 0rem 0rem -10rem $cursor-color;
    }

    .cc.cursor.cursor-after {
      box-shadow: inset -10.2rem 0rem 0rem -10rem $cursor-color;
    }

    .cc.cursor.cursor-hide {
      box-shadow: none;
    }

    #text-box, .stat {
      color: $text-color;
    }

    h1, .cc.correct {
      color: $cursor-color;
    }

    .cc.incorrect {
      color: $error-color;
    }

    .cc.space.incorrect {
      border-color: $error-color
    }

    select {
      background-color: $background-color;
      color: $accent-color;
      border-color: $accent-color;
    }

    .keycap {
      color: $accent-color;
    }

    .line-wpm {
      stroke: $accent-color;
      fill: none;
    }

    .area-wpm {
      stroke: none;
      fill: $accent-color;
      fill-opacity: 0.1;
    }

    .line-snap-wpm {
      stroke: $text-color;
      fill: none;
    }

    .area-snap-wpm {
      stroke: none;
      fill: $text-color;
      fill-opacity: 0.1;
    }

    .point {
      stroke: $accent-color;
      fill: $background-color;
    }

    .point-error {
      stroke: $error-color;
      fill: $error-color;
    }

    .axis {
      .domain, line {
        stroke: $text-color;
      }

      text {
        color: $text-color;
      }
    }
  }
}
