@use 'theme';

@include theme.new(
  $name: '80082-bl00',
  $background-color: #2C2F38,
  $text-color: #6E7886,
  $cursor-color: #67C4E3,
  $error-color: #CE4F68,
  $accent-color: #67C4E3,
);

@include theme.new(
  $name: 'botanical',
  $background-color: #3E5D58,
  $text-color: #92aca0,
  $cursor-color: #DDE5ED,
  $error-color: #c87e74,
  $accent-color: #DDE5ED,
);

@include theme.new(
  $name: 'granite',
  $background-color: #1A1A1A,
  $text-color: #909596,
  $cursor-color: #59add4,
  $error-color: #C5464D,
  $accent-color: #5dd0a3,
);

@include theme.new(
  $name: 'muted',
  $background-color: #171718,
  $text-color: #808484,
  $cursor-color: #C5B4E3,
  $error-color: #f9423a,
  $accent-color: #B1E4E3,
);

@include theme.new(
  $name: 'nautilus',
  $background-color: #121726,
  $text-color: #2c5897,
  $cursor-color: #00a4a9,
  $error-color: #A5252A,
  $accent-color: #e5a100,
);

@include theme.new(
  $name: 'superuser',
  $background-color: #252A36,
  $text-color: #658297,
  $cursor-color: #80E0A7,
  $error-color: #CF4A5D,
  $accent-color: #80E0A7,
);

html {
  box-sizing: border-box;
  font-size: 60%;
}

*, *:before, *:after {
  box-sizing: inherit;
}

body {
  padding: 0;
  margin: 0;
  font-family: 'Recursive', sans-serif;
}

#text-box {
  display: block;
  position: relative;
  margin: 3rem auto;
  background: none;
  width: 100%;
  font-family: 'Recursive', monospace;
  font-size: 1.5rem;
  font-variation-settings: 'MONO' 1;
  user-select: none;
  height: 9rem;
  line-height: 3rem;
  transition: height 300ms;
  overflow-y: hidden;
  overflow-wrap: break-word;
  white-space: normal;
}

#text-box > div {
  position: relative;
  transform: translateY(0rem);
  transition: transform 300ms;
}

#help ul li {
  list-style-type: none;
}

.keycap {
  font-weight: 600;
  font-variation-settings: 'MONO' 1;
}

.stat {
  font-family: 'Recursive', sans-serif;
  font-size: 1.2rem;
  line-height: 1.5rem;
  margin-bottom: 1rem;
}

#container {
  position: relative;
  margin: 0 auto;
  padding: 1.5rem;
  max-width: 53rem;
}

select {
  outline: none;
  border: 1px solid black;
  padding: 0.5rem;
  margin-bottom: 2rem;
}

.cc {
  position: relative;
  display: inline;
}

.cc.hide {
  opacity: 0;
}

.cc.space {
  white-space: pre-wrap;
}

.cc.space.incorrect {
  border-bottom: 4px solid black;
  white-space: break-spaces;
}

.c-group {
  display: inline-block;
  height: 3rem;
}

.fade {
  opacity: 1;
  transition: opacity 1000ms;
}

.fade.typing {
  opacity: 0.33
}

.row {
  display: flex;
}

.col {
  flex-grow: 1;
}

.chart {
  width: 100%;

  text {
    font-family: 'Recursive', sans-serif;
    font-size: 1rem;
  }
}

@media (min-width: 30rem) {
  html {
    font-size: 80%;
  }
}

@media (min-width: 53rem) {
  html {
    font-size: 100%
  }
}
