@use 'theme';

@include theme.new(
  $name: '80082-blu',
  $background-color: #2C2F38,
  $text-color: #6E7886,
  $cursor-color: #67C4E3,
  $error-color: #CE4F68,
  $accent-color: #67C4E3,
);

@include theme.new(
  $name: 'awaken',
  $background-color: #25252F,
  $text-color: #E5C441,
  $cursor-color: #24E7E8,
  $error-color: #EA315C,
  $accent-color: #24E7E8,
);

@include theme.new(
  $name: 'cyberspace',
  $background-color: #222822,
  $text-color: #987AD4,
  $cursor-color: #27D27F,
  $error-color: #AD186B,
  $accent-color: #27D27F,
);

@include theme.new(
  $name: 'mecha',
  $background-color: #080808,
  $text-color: #5E359A,
  $cursor-color: #45CB30,
  $error-color: #FF2811,
  $accent-color: #EC7317,
);

html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

body {
  padding: 0;
  margin: 0;
  font-family: 'recursive', sans-serif;
}

#cursor {
  position: absolute;
  width: 0px;
  top: 0px;
  left: 0px;
  z-index: 100;
}

#cursor.hide {
  opacity: 0
}

#cursor > span {
  position: absolute;
  left: 0px;
  top: 10px;
  height: 29px;
  width: 4px;
}

#text-box {
  display: block;
  position: relative;
  margin: 50px auto;
  background: none;
  width: 100%;
  font-family: 'recursive', monospace;
  font-variation-settings: 'MONO' 1;
  font-size: 1.5rem;
  user-select: none;
  height: 9rem;
  overflow-y: hidden;
  overflow-wrap: break-word;
  white-space: normal;
}

#text-box > div {
  min-height: 9rem;
  margin-top: 0rem;
  transition: margin-top 300ms;
}

#help ul li {
  list-style-type: none;
}

.keycap {
  font-weight: 600;
  font-variation-settings: 'MONO' 1;
}

.stat {
  font-family: 'recursive';
  font-size: 1.2rem;
  height: 50px;
}

#container {
  position: relative;
  margin: 1rem auto;
  max-width: 875px;
  padding: 1rem;
}

select {
  outline: none;
  border: 1px solid black;
  padding: 0.5rem;
  margin-bottom: 2rem;
}

.cc {
  position: relative;
  display: inline;
  line-height: 3rem;
  position: relative;
}

.cc.hide {
  opacity: 0;
}

.cc.space.incorrect {
  border-bottom: 4px solid black;
  white-space: break-spaces;
}

.c-group {
  display: inline-block;
  height: 3rem;
}

.fade {
  opacity: 1;
  transition: opacity 1000ms;
}

.fade.typing {
  opacity: 0.33
}
